{extend name="application/common/view/master.html" /}
 {block name="header"}
<link href="__ADMIN__/js/attfile/css/attfilelist.css" rel="stylesheet" />
<link href="__ADMIN__/ACE/components/jquery-colorbox/colorbox.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__ADMIN__/js/cropper/cropper.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN__/ACE/components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css"/>
<script src="__ADMIN__/js/jQueryRotate.js"></script>
<script src="__ADMIN__/js/Sortable-master/Sortable.js"></script>
<script src="__ADMIN__/ACE/components/jquery-colorbox/jquery.colorbox.js"></script>
<script src="__ADMIN__/js/attfile/imageList.js"></script>
<script type="text/javascript" src="__ADMIN__/js/webuploader/webuploader.js"></script>
<script src="__ADMIN__/js/attfile/attfilelist.js"></script>
<script src="__ADMIN__/js/cropper/cropper.js"></script>
<script src="__ADMIN__/js/cropper/main.js"></script>
<script src="__ADMIN__/js/layer/laydate/laydate.js"></script>
<script src="__ADMIN__/ACE/assets/js/src/elements.typeahead.js"></script>
<script src="__ADMIN__/ACE/components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" type="text/javascript" charset="utf-8"></script>
{/block} {block name="main_content"}
<!--页面最外层容器开始-->
<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!--搜索区域开始-->
			<div class="searchArea">
				<div class="fastSearch row">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="input-group">
							<input type="hidden" name="deptid" id="deptid" />
							<input type="text" name="deptid_show" id="deptid_show" class="form-control search-query admin_sea" value="" placeholder="请选择单位" ally="#deptid" />
							
							<span class="input-group-addon addon-btn no-left-border" id="deptid_selectBtn11" onclick="dataDlgTree('selectdepts', 'deptid_selectBtn11', public_DlgCallBack );" data-dlgreturn="deptid_show.val()=deptname;deptid.val()=id" data-dlgcallback="">
                                <i class="ace-icon fa fa-check"></i>
                            </span>
							<span class="input-group-addon addon-btn" onclick="clearValue('#deptid,#deptid_show');">
                                <i class="ace-icon fa fa-close"></i>
                            </span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<label class="pull-left lablelforinput" for="deptid_shows">Label name</label>
						<div class="input-group">
							<input type="hidden" name="deptid" id="deptid" />
							<input type="text" name="deptid_show" id="deptid_shows" class="form-control search-query admin_sea" value="" placeholder="请选择单位" ally="#deptid" />

							<span class="input-group-addon addon-btn no-left-border" id="deptid_selectBtn" onclick="dataDlgTree('selectdepts', 'deptid_selectBtn', public_DlgCallBack);" data-dlgreturn="deptid_show.val()=deptname;deptid.val()=id" data-dlgcallback="">
                                <i class="ace-icon fa fa-check"></i>
                            </span>
							<span class="input-group-addon addon-btn" onclick="clearValue('#deptid,#deptid_show');">
                                <i class="ace-icon fa fa-close"></i>
                            </span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="input-group ">

							<input type="text" name="keyword" id="keyword" size="25" class="form-control search-query admin_sea" value="" placeholder="输入账号、真实姓名、手机号或者部门名称" />
							<span class="input-group-btn">
                                <button type="button" class="btn btn-xs  btn-myset"  id="btnSearch">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span> 搜索
							</button>
							</span>
						</div>

					</div>
				</div>
			</div>
			<!--搜索区域结束-->
			<div class="clearfix"></div>
			<!--按钮区域开始-->
			<div class="buttonArea">
				<button class="fa fa-plus-square fa-lg btn btn-primary" id="btnAdd" onclick="return false;">新增</button>
				<button class="fa fa-edit fa-lg btn  btn-info" id="btnEdit" onclick="return false;">修改</button>
				<button class="fa fa-trash-o fa-lg btn btn-danger" id="btnDelete" onclick="return false;">删除</button>
				<button class="fa fa-file-text-o fa-lg btn  btn-success" id="btnRead" onclick="return false;">查看</button>
				<button class="fa fa-refresh fa-lg btn btn-yellow" id="btnReload" onclick="return false;">刷新</button>
			</div>
			<!--按钮区域结束-->
			<!--内容页面开始-->
			<div class="contentArea">
				<table id="gridTable"></table>
				<div id="gridPager"></div>
				<form class="form-horizontal" role="form">
					<div class="">
						<div class="col-xs-12">
							<h2>Welcome</h2>
							<div class="form-group">
								<div class="input-group">
									<input type="hidden" name="userid" id="userid" />
									<input type="text" name="userid_show" id="userid_show" class="form-control search-query admin_sea" value="" placeholder="单选用户"  ally="#userid"/>

									<span class="input-group-addon addon-btn no-left-border" id="userid_selectBtn" onclick="dataDlgTable('selectrole', 'userid_selectBtn', public_DlgCallBack );" data-dlgreturn="userid_show.val()=rolename;userid.val()=id" data-dlgcallback="">
                        <i class="ace-icon fa fa-check"></i>
                    </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#userid,#userid_show');">
                        <i class="ace-icon fa fa-close"></i>
                    </span>
								</div>
							</div>
							<div class="form-group">

								<div class="input-group">
									<input type="hidden" name="userid2" id="userid2" />
									<input type="text" name="userid2_show" id="userid2_show" class="form-control search-query admin_sea" value="" placeholder="表格多选用户" ally="#userid2_show"/>

									<span class="input-group-addon addon-btn no-left-border" id="userid2_selectBtn" onclick="dataDlgTable('selectroles', 'userid2_selectBtn', public_DlgCallBack);" data-dlgreturn="userid2_show.val()=rolename;userid2.val()=id" data-dlgcallback="">
                    <i class="ace-icon fa fa-check"></i>
                </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#userid2,#userid2_show');">
                    <i class="ace-icon fa fa-close"></i>
                </span>
								</div>
							</div>
							<div class="form-group">

								<div class="input-group">
									<input type="hidden" name="deptid0" id="deptid0" />
									<input type="text" name="deptid_show0" id="deptid_show0" class="form-control search-query admin_sea" value="" placeholder="树形单选单位" ally="#deptid_show0" />

									<span class="input-group-addon addon-btn no-left-border" id="deptid_selectBtn0" onclick="dataDlgTree('selectdept', 'deptid_selectBtn0', public_DlgCallBack);" data-dlgreturn="deptid_show0.val()=deptname;deptid0.val()=id" data-dlgcallback="">
                    <i class="ace-icon fa fa-check"></i>
                </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#deptid0,#deptid_show0');">
                    <i class="ace-icon fa fa-close"></i>
                </span>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="hidden" name="deptid2" id="deptid2" />
									<input type="text" name="deptid2_show" id="deptid2_show" class="form-control search-query admin_sea" value="" placeholder="树多选单位" ally="#deptid2_show" />

									<span class="input-group-addon addon-btn no-left-border" id="deptid2_selectBtn" onclick="dataDlgTree('selectdepts', 'deptid2_selectBtn', public_DlgCallBack);" data-dlgreturn="deptid2_show.val()=deptname;deptid2.val()=id" data-dlgcallback="">
                    <i class="ace-icon fa fa-check"></i>
                </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#deptid2,#deptid2_show');">
                    <i class="ace-icon fa fa-close"></i>
                </span>
								</div>
							</div>
							<div class="form-group">
								<label class="pull-left lablelforinput" for="deptid_shows">Label name</label>

								<div class="input-group">
									<input type="hidden" name="codeid" id="codeid" />
									<input type="text" name="codeid_show" id="codeid_show" class="form-control search-query admin_sea" value="" placeholder="选择代码" ally="#codeid"  />

					 <span class="input-group-addon addon-btn no-left-border" id="codeid_selectBtn" onclick="dlgSelectCode('NATION',true, 'codeid_selectBtn', public_DlgCallBack);" data-dlgreturn="codeid_show.val()=codename;codeid.val()=id" data-dlgcallback="">
                        <i class="ace-icon fa fa-check"></i>
                    </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#codeid,#codeid_show');">
                        <i class="ace-icon fa fa-close"></i>
                    </span>
								</div>
							</div>
							<div class="form-group">
								根据类型选择代码（tree)异步加载
								<div class="input-group">
                                   <input type="hidden" name="codeid2" id="codeid2" />
									<input type="text" name="codeid2_show" id="codeid2_show" class="form-control search-query admin_sea" value="" placeholder="选择代码" ally="#codeid2" />
									<span class="input-group-addon addon-btn no-left-border" id="codeid2_selectBtn" onclick="dlgSelectCodeTree('CASETYPE',true, true,'codeid2_selectBtn', public_DlgCallBack);" data-dlgreturn="codeid2_show.val()=codename;codeid2.val()=id" data-dlgcallback="">
                        <i class="ace-icon fa fa-check"></i>
                    </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#codeid2,#codeid2_show');">
                        <i class="ace-icon fa fa-close"></i>
                    </span>
								</div>
							</div>


							<div class="form-group">
								根据类型选择代码（tree)
								<div class="input-group">
									<input type="hidden" name="codeid21" id="codeid21" />
									<input type="text" name="codeid21_show" id="codeid21_show" class="form-control search-query admin_sea" value="" placeholder="选择代码" ally="#codeid21"/>
									<span class="input-group-addon addon-btn no-left-border" id="codeid21_selectBtn" onclick="dlgSelectCodeTree('CASETYPE',true, false,'codeid21_selectBtn', public_DlgCallBack);" data-dlgreturn="codeid21_show.val()=codename;codeid21.val()=id" data-dlgcallback="">
                        <i class="ace-icon fa fa-check"></i>
                    </span>
					<span class="input-group-addon addon-btn" onclick="clearValue('#codeid21,#codeid21_show');">
                        <i class="ace-icon fa fa-close"></i>
                    </span>
								</div>
							</div>



							<div class="form-group">

								<div class="input-group">
									<input type="hidden" id="userid3" />
									<input type="text" id="userid3_show" class="form-control search-query admin_sea" value="" placeholder="选择用户" ally="#userid3" />

									<span class="input-group-addon addon-btn no-left-border" id="userid3_selectBtn" onclick="dlgSelectUser(true, 'userid3_selectBtn', public_DlgCallBack);" data-dlgreturn="userid3_show.val()=realname;userid3.val()=id" data-dlgcallback="">
                        <i class="ace-icon fa fa-check"></i>
                    </span>
									<span class="input-group-addon addon-btn" onclick="clearValue('#userid3,#userid3_show');">
                        <i class="ace-icon fa fa-close"></i>
                    </span>
									<span class="input-group-addon addon-btn addTitle" onclick="clearValue('#userid3,#userid3_show');">
                        通用用户选择
                    </span>
								</div>

							</div>
							<div class="form-group">

							</div>

							<!-- PAGE CONTENT ENDS  -->
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">附件列表</label>
							<button type="button" class="fa fa-cloud-upload fa-lg btn btn-primary" id="btnAdd1" onclick="uploadImage('img',false,0 , 0,btnAdd1callback);">上传</button>
							<div class="col-sm-9">
								<div class="test">
									<input type="hidden" name="" id="" value="436,437,441,453" class="test1" />
								</div>
							</div>
							<script>
								function btnAdd1callback(data) {
									// console.log(data);
									$('.test').imageList("append", data);
								}
							</script>
							<div class="col-sm-9">
								<label class="col-sm-3 control-label">附件列表</label>
								<button type="button" class="fa fa-cloud-upload fa-lg btn btn-primary" id="btnAdd2" onclick="uploadImage('img',false,0 , 0,  btnAdd2callback);">上传</button>
								<div class="test2">
									<input type="hidden" name="" id="" value="436,437,441,453" class="test3" />
								</div>
							</div>
							<div class="clearfix">

							</div>
						</div>

						<div class="col-md-3">
							<div class="input-group">
								<input type="text" name="fileid" id="fileid" size="25" class="form-control search-query admin_sea" value="" placeholder="上传文件" />
								<span class="input-group-btn"><button type="button" class="btn btn-xs  btn-myset" id="btnupload" onclick="uploadFile('files',true, 0 ,0, '*' ,btnuploadcallback);">
				<span class="ace-icon fa fa-search icon-on-right bigger-110"></span> 上传附件
								</button>
								</span>
							</div>
						</div>
						<script>
							function btnuploadcallback(data) {
								$("#attfilelist").attFileList("append", data);
							}

							function btnupload2callback(data) {
								console.log(data);
								// $("#attfilelist").attFileList();
							}
						</script>
						<div class="col-md-3">
							<div class="input-group">
								<input type="text" name="fileid" id="fileid" size="25" class="form-control search-query admin_sea" value="" placeholder="上传文件" />
								<span class="input-group-btn"><button type="button" class="btn btn-xs  btn-myset" id="btnupload" onclick="uploadFile('files',true, 0 ,0, '*' ,btnuploadcallback);">
				<span class="ace-icon fa fa-search icon-on-right bigger-110"></span> 上传附件
								</button>
								</span>
							</div>
						</div>
						<div class="clearfix">

						</div>

						<div id="attfilelist" class="attfilelist">
							<input type="hidden" name="" id="" value="436,437,441,453" class="mytest1" />
						</div>

						<div id="attfilelist1" class="attfilelist">
							<input type="hidden" name="" id="" value="436,437,441,453" class="mytest2" />
						</div>

						<div class="clearfix">

						</div>
						<div class="buttonArea">
							<button class="fa fa-plus-square fa-lg btn btn-primary" id="btnAdd" onclick="return false;">新增</button>
							<button class="fa fa-edit fa-lg btn  btn-info" id="btnEdit" onclick="return false;">修改</button>
							<button class="fa fa-trash-o fa-lg btn btn-danger" id="btnDelete" onclick="return false;">删除</button>
							<button class="fa fa-file-text-o fa-lg btn  btn-success" id="btnRead" onclick="return false;">查看</button>
							 <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle fa fa-th"
                            aria-expanded="false">
                        批量操作
                        <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-primary ">

                        {if haveAction('admin/roles/permission_user')}
                        <li>
                            <a href="#" id="expSelect" onclick="return false;">导出选择</a>
                        </li>
                        {/if} {if haveAction('admin/roles/permission_action')}
                        <li>
                            <a href="#" id="expAll" onclick="return false;">导出全部</a>
                        </li>
                        {/if}
                    </ul>
                </div>

							<button class="fa fa-check-square-o fa-lg btn btn-primary" id="btnReload" onclick="return false;">审核</button>
							<button class="fa fa-folder-open   fa-lg btn btn-grey" id="btnOpenClose" onclick="return false;">全部展开</button>
							<button class="fa fa-check-square  fa-lg btn btn-grey" id="btnSelectAll" onclick="return false;">全选</button>

							<button class="fa fa-check-square  fa-lg btn btn-grey" id="btnReload" onclick="return false;">授权</button>
							<button class="fa fa-check-square  fa-lg btn btn-primary" id="btnReload" onclick="return false;">授权</button>
							<button class="fa fa-user-plus   fa-lg btn btn-primary" id="btnReload" onclick="return false;">指派用户</button>
							<button class="fa fa-user-times fa-lg btn btn-purple" id="btnReload" onclick="return false;">回收用户</button>
							<button class="fa fa-undo   fa-lg btn btn-light" id="btnReload" onclick="return false;">反审核</button>
							<button class="fa fa-comments fa-lg btn btn-primary" id="btnAdd" onclick="return false;">反馈</button>
							<button class="fa fa-calendar-check-o fa-lg btn btn-primary" id="btnAdd" onclick="return false;">签收</button>
							<button class="fa fa-cloud-upload fa-lg btn btn-primary" id="btnAdd" onclick="return false;">上传</button>
							<button class="fa fa-download fa-lg btn btn-primary" id="btnAdd" onclick="return false;">下载</button>
							<button class="fa fa-refresh fa-lg btn btn-yellow" id="btnReload" onclick="return false;">刷新</button>
							<div>其中新增、修改、删除、查看、刷新。固定使用上面的图标和样式，其它功能按钮，根据需要增加，默认使用 btn-primary 颜色，图标根据需要配置 。</div>

						</div>
						<!-- /.col -->
					</div>
					<div class="clearfix">

					</div>

					<div class='col-sm-5 col-md-5'>
						时间日期选择器(tools.js中定义 )
						<div class="input-group datepicker">
							<input class="form-control  datepicker" id="date1" type="text"   data-datetype='date'>
							<span class="input-group-addon   laydatebtn"></span>
						</div>
					</div>

					<div class='col-sm-5 col-md-5'>
						   时间选择器
							<div class="input-group datepicker">
							<input class="form-control datepicker" id="date2" type="text"  data-datetype='time'>
							<span class="input-group-addon   laydatebtn"></span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="">
						日期选择器
						<div class="input-group col-lg-3 datepicker">
							<input class="form-control datepicker" id="date3" type="text" data-datetype='datetime' >
							<span class="input-group-addon   laydatebtn"></span>
						</div>

						<div class="clearfix"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>

							<div class="col-sm-9">
								<input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Password Field </label>

							<div class="col-sm-9">
								<input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5">
								<span class="help-inline col-xs-11 col-sm-7">
												<span class="middle">Inline help text</span>
								</span>
							</div>
						</div>

						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<label class="pull-left lablelforinput" for="keyword">Label name</label>
							<div class="input-group">
								<input type="text" name="key" id="keyword" class="form-control search-query admin_sea" value="" placeholder="请输入关键词">
								<span class="input-group-btn">
                                <button type="button" class="btn btn-xs  btn-myset">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span> 搜索
								</button>
								</span>
							</div>
						</div>

					</div>
					<p>弹出窗效果</p>
					<div class="clearfix">
						<button class="btn btn-error bthError">错误</button>
						<button class="btn btn-success bthSuccess">成功</button>
						<button class="btn btn-warning bthWarring">警告</button>
						<button class="btn btn-info btnUnlogin">未登录</button>
						<button class="btn btn-info btnDefault">默认</button>

					</div>

					<p>消息框</p>
					<div class="clearfix">
						<button class="btn btn-error bthErrors">错误</button>
						<button class="btn btn-success bthSuccesss">成功</button>
						<button class="btn btn-warning bthWarrings">警告</button>
						<button class="btn btn-info btnUnlogins">未登录</button>
						<button class="btn btn-info btnDefaults">默认</button>
					</div>
					<p>再次确认框</p>
					<button class="btn btn-error btnConform">错误</button>
					                           
                <div class="form-group">
                	单选框
                														<label>
														<input name="form-field-radio" type="radio" class="ace">
														<span class="lbl"> radio option 2</span>
													</label>
																										<label>
														<input name="form-field-radio" type="radio" class="ace">
														<span class="lbl"> radio option 2</span>
													</label>
																										<label>
														<input name="form-field-radio" type="radio" class="ace">
														<span class="lbl"> radio option 2</span>
													</label>
																										<label>
														<input name="form-field-radio" type="radio" class="ace">
														<span class="lbl"> radio option 2</span>
													</label>
                </div>
                <div class="form-group">
                	多选框
                	<label>
														<input name="form-field-checkbox" type="checkbox" class="ace">
														<span class="lbl"> choice 1</span>
													</label>
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace">
														<span class="lbl"> choice 1</span>
													</label>
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace">
														<span class="lbl"> choice 1</span>
													</label>
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace">
														<span class="lbl"> choice 1</span>
													</label>
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace">
														<span class="lbl"> choice 1</span>
													</label>
                </div>
				</form>
				22222222222
				<div id="uploader-demo" class="uploader">
					<img src="__ADMIN__/img/uploaddefault.png" alt="" id="img1" width="100" height="100">
					<div class="uploadInfo text-center">
						上传成功
					</div>
					<!--用来存放item-->
					<div id="filePicker1">选择图片</div>
					<input type="" name="input1" id="input1" value="" />
				</div>
				3333333333333
				<div id="uploader-demo" class="uploader">
					<img src="__ADMIN__/img/uploaddefault.png" alt="" id="img2" width="100" height="100">
					<div class="uploadInfo text-center">
						上传成功
					</div>
					<!--用来存放item-->
					<div id="filePicker2">选择图片</div>
					<input type="" name="input1" id="input2" value="" />

					<button type="button" class="btn btn-xs  btn-myset" id="btnupload3" onclick="imageCrop($('#input2').val(),300,300,imageCropcb);">
			<span class="ace-icon fa fa-search icon-on-right bigger-110"></span> 裁剪
		    </button>

				</div>
			</div>
			<!--内容页面结束-->
		</div>
	</div>

	<hr />

	<script type="text/javascript">
		function imageCropcb(data) {
			$('#img2').attr("src", '__ROOT__'+data.data.url);
			$('#input2').val(data.data.url);
			console.log(data.data);
		}
	</script>

	#####################################################################

	<script type="text/javascript">
		$(".bthError").on("click", function() {
			$.modalAlert("修改错误", "error");
			return false;
		})
		$(".bthSuccess").on("click", function() {
			$.modalAlert("保存成功", "success");
			return false;
		})
		$(".bthWarring").on("click", function() {
			$.modalAlert("确定要删除吗", "warning");
			return false;
		})
		$(".btnUnlogin").on("click", function() {
			$.modalAlert("未登录", "unlogin");
			return false;
		})
		$(".btnDefault").on("click", function() {
			$.modalAlert("默认", "");
			return false;
		})
	</script>
	<script type="text/javascript">
		$(".bthErrors").on("click", function() {
			$.modalMsg("修改错误", "error");
			return false;
		})
		$(".bthSuccesss").on("click", function() {
			$.modalMsg("保存成功", "success");
			return false;
		})
		$(".bthWarrings").on("click", function() {
			$.modalMsg("确定要删除吗", "warning");
			return false;
		})
		$(".btnUnlogins").on("click", function() {
			$.modalMsg("未登录", "unlogin");
			return false;
		})
		$(".btnDefaults").on("click", function() {
			$.modalMsg("默认", "");
			return false;
		})
	</script>
	<script type="text/javascript">
		$(".btnConform").on("click", function() {
			$.modalConfirm("确定删除吗", function() {
				console.log(1111111111)
			});
			return false;
		})
	</script>
	<script type="text/javascript">
		$(function() {

			$("#btnOpenClose").click(function() {
				if($(this).hasClass("fa-folder-open")) {
					//openall();
					$(this).removeClass("fa-folder-open").addClass("fa-folder");
					$(this).text("全部折叠");
					return false;
				} else {
					//	closeall();
					$(this).addClass("fa-folder-open").removeClass("fa-folder");
					$(this).text("全部展开");
					return false;
				}

			});

			$("#btnSelectAll").click(function() {
				if($(this).hasClass("fa-check-square")) {
					//selectall();
					$(this).removeClass("fa-check-square").addClass("fa-square");
					$(this).text("全不选");
					return false;
				} else {
					//	closeall();
					$(this).addClass("fa-check-square").removeClass("fa-square");
					$(this).text("全选");
					return false;
				}

			});

		})
	</script>

	<script>
		function test(data) {
			//	console.log("test cb:");
			//	console.log(data);
			console.log(data.length)
			for(var i = 0; i < data.length; i++) {
				$("#attfilelist").append('<div class="filelist col-md-10" data-id="' + data[i].id + '"><div class="pull-left"><a href="' + data[i].fileurl + '">' + data[i].oldname + '</a><span class="filesize">' + data[i].filesize + '</span></div><span class="delete fa fa-trash-o bigger-130 red pull-right"></span></div>')
				//	$("#attfilelist").append(data[i].oldname + ":" + data[i].fileurl + ":" + data[i].filesize + ":" + data[i].id);

			}
		}

	</script>

	<script>
		imagePicker('#filePicker1', '#img1', '#input1');
		imagePicker('#filePicker2', '#img2', '#input2');
	</script>
	<script type="text/javascript">
		$(function() {

			$('.test').imageList({
				"num": 8,
				"mode": 0,
				"inputElement": ".test1"
			});

			$('.test2').imageList({
				"num": 8,
				"mode": 0,
				"inputElement": ".test3"
			});

			setTimeout(function() {
				$(".cboxElement").colorbox({
					rel: 'group1'
				});

			}, 1000);

			//$("#attfilelist").attFileList(); 无参数则调用初始化方法和默认参数
			$("#attfilelist").attFileList({
				mode: 0,
				inputElement: ".mytest1"
			}); //有参数则调用设置的参数
			$("#attfilelist1").attFileList({
				mode: 0,
				inputElement: ".mytest2"
			});
			//$("#attfilelist").attFileList("update",json,mode);  调用update方法 json必选  mode可选 json 必须字段 id,fileName,url,fileSize )
			//$("#attfilelist").attFileList("append",json,mode); 调用append方法  json必选  mode可选
			var id = '1,2,3,'
			id = id.substr(0, id.length - 1);
			id = ''
			id = id.substr(0, id.length - 1);

		})
	</script>
</div>
<div class="clearfix">

</div>
<h1 class="red">修改页面单列显示</h1>
<!--修改页面开始-->
<div class="page-content">
	<form class="form-horizontal" role="form" id="form1">
	<div class="hr-12"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">权限代码</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5 required  " id="actcode" name="actcode" type="text" />
            <font color="red" style="display:none" id="first">权限代码不能重复</font>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right ">权限名称</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5 required   " id="actname" name="actname" type="text"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">上级权限</label>
		<div class="col-sm-5">
		    <div class="input-group" >
				<input type="hidden" name="pid" id="pid" />
				<input type="text" name="deptid_show" id="deptid_show" class="form-control search-query admin_sea" placeholder="请选择上级" readonly="readonly" ally="#pid"/>

				<span class="input-group-addon addon-btn no-left-border" id="actionid_selectBtn" onclick="dataDlgTree('selectaction', 'actionid_selectBtn', public_DlgCallBack);" data-dlgreturn="deptid_show.val()=actname;pid.val()=id" data-dlgcallback="">
                    <i class="ace-icon fa fa-check"></i>
                </span>
				<span class="input-group-addon addon-btn" onclick="clearValue('#pid,#deptid_show');">
                    <i class="ace-icon fa fa-close"></i>
                </span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">排序号</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5 required " id="sortno" name="sortno" type="text"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">是否目录</label>
		<div class="col-sm-9">
			<label>
			<input   id="isdir" name="isdir" class="ace ace-switch ace-switch-5" value="1" type="checkbox"   >
				<span class="lbl"></span>
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">是否菜单</label>
		<div class="col-sm-9">
			<label>
			<input   id="ismenu" name="ismenu" class="ace ace-switch ace-switch-5" value="1" type="checkbox"   >
				<span class="lbl"></span>
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">菜单显示的文本</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5 required  " id="menutext" name="menutext" type="text" />
		</div>
	</div>
	<div class="form-group">

		<label class="col-sm-3 control-label no-padding-right ">链接地址</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5 required   " id="menuurl" name="menuurl" type="text"/>

		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">打开链接目标</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5  " id="menutarget" name="menutarget" type="text"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">菜单样式</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5  " id="menuclass" name="menuclass" type="text"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right">备注</label>
		<div class="col-sm-9">
			<input class="col-xs-10 col-sm-5  " id="remark" name="remark" type="text"/>
		</div>
	</div>
	
	<div class="hr hr-12"></div>
</form>
</div>
<!--修改页面结束-->
<h1>修改页面双列显示</h1>
<div class="page-content">
	<div class="">
		<form class="form-horizontal" role="form" id="form1">
	<div class="hr-12"></div>

	<div class="clearfix">
			<div class="col-md-6">
		<div class="form-group">

			<label class="col-sm-2 control-label no-padding-right ">姓名</label>
			<div class="col-sm-9">
				<input class="col-md-11 required   " id="realname" name="realname" type="text" />

			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">密码</label>
			<div class="col-sm-9">
				<input class="col-md-11 required" id="password" name="password" type="password" />

			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
		<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">再输一次密码</label>
			<div class="col-sm-9">
				<input class="col-md-11 required " id="password2" name="password2" type="password" equalTo="#password" />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">性别</label>
			<div class="col-sm-9">
				{tag:select type="dict" name="sex" dict="sex"}
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
		<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">身份证号码</label>
			<div class="col-sm-9">
				<input class="col-md-11" id="idno" name="idno" type="text" />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">固定电话</label>
			<div class="col-sm-9">
				<input class="col-md-11" id="tel" name="tel" type="text" />
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
		<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">手机</label>
			<div class="col-sm-9">
				<input class="col-md-11" id="mobile" name="mobile" type="text" />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">Email</label>
			<div class="col-sm-9">
				<input class="col-md-11" id="email" name="email" type="text" />
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
			<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">所在单位</label>
			<div class="col-sm-5">
				<div class="input-group">
					<input id="deptid" class="required" name="deptid" type="hidden" value="1" />
					<input type="text" name="deptname" id="deptname" class="form-control search-query admin_sea " value="" placeholder="请选择单位" readonly="readonly" value="啊啊" ally="#deptid" />
					<span class="input-group-addon  addon-btn no-left-border" id="deptid_selectBtn" onclick="dataDlgTree('selectdept', 'deptid_selectBtn',public_DlgCallBack);" data-dlgreturn="deptid.val()=id;deptname.val()=deptname" data-dlgcallback="">
	                    <i class="ace-icon fa fa-check"></i>
	                </span>
					<span class="input-group-addon  addon-btn" onclick="clearValue('#deptid,#deptname');">
	                    <i class="ace-icon fa fa-close"></i>
	                </span>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">可登录IP</label>
			<div class="col-sm-9">
				<textarea cols="20" class="col-md-6" id="iprange" name="iprange" rows="3"></textarea>
				<span class="help-inline"><span class="middle">每个IP或IP段一行</span></span>
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
		<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">排序号</label>
			<div class="col-sm-9">
				<input class="col-md-11 required" id="sortno" name="sortno" type="number" value="0" />
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
			<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">指派角色</label>
			<div class="col-sm-10">
				
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
			<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">默认角色</label>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">UkeyID</label>
			<div class="col-sm-9">
				<input class="col-md-11" id="ukeyid" name="ukeyid" type="text" />
			</div>
		</div>
	</div>
	</div>

	<div class="hr hr-12"></div>
</form>
	</div>
</div>

<div class="bootstrap-colorpicker">
																<!-- #section:plugins/misc.colorpicker -->
																<input id="colorpicker1" type="text" class="input-small colorpicker-element">

																<!-- /section:plugins/misc.colorpicker -->
															</div>
<script type="text/javascript">
	$('#colorpicker1').colorpicker({
		format:"hex"
		
	});

	 var gridSelector = "#gridTable";
    jQuery(function () {
        var pagerSelector = "#gridPager";
        var parent_column = $(gridSelector).closest('[class*="col-"]');
        $(window).on('resize.jqGrid',
                        function () {
                            $(gridSelector).jqGrid('setGridWidth', parent_column.width());
                            $(gridSelector + " tr.jqgfirstrow td:first").width(28); //fixbug
                        });

        //resize on sidebar collapse/expand
        $(document).on('settings.ace.jqGrid',
                        function (ev, event_name, collapsed) {
                            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                                setTimeout(function () {
                                            $(gridSelector).jqGrid('setGridWidth', parent_column.width());
                                            $(gridSelector + " tr.jqgfirstrow td:first").width(28); //fixbug
                                        },
                                        20);
                            }
                        });

        var postdata = $('.searchArea').formSerialize(); //收集搜索条件
        var windowHeight = $(window).height();
        var rowNum = windowHeight < 800 ? 10 : 20;    // window区域大于800，则默认20行一页， 否则10行。
        $(gridSelector)
                .jqGrid({
                    // caption: "用户列表",
                    url: "{:url('/admin/adminusers/index_json')}",
                    mtype: 'POST', //默认是GET
                    datatype: "json", //默认xml
                    height: 200, //表格高度
                    shrinkToFit: true, //true拉伸列宽自动填满表格宽度但会fixed有固定宽度 flase按照colmodel参数初始化表格宽度
                    autoScroll: true, //是否自动横向滚动条
                    colModel: [
                        {label: 'id', name: 'id', index: 'u.id',  hidden: true, key: true},  //固定列需要从第一列开始 设置frozen:true,并且sortable:false
                        {
                            label: '登录名',
                            name: 'loginid',
                            index: 'u.loginid',
                            width: 170,
                            frozen: true,
                            sortable: false,
                            formatter: function (value, Obj) {
                                var id = Obj.rowId;
                                return '<a class="read" href="javascript:" onclick="read(' + id + ')" >' + value + '</a>';
                            }
                        },
                        {label: '姓名', name: 'realname', index: 'u.realname', width: 170, sortable: true},
                        {
                            label: '性别',
                            name: 'sex',
                            index: 'u.sex',
                            width: 170,
                            sortable: true,
                            formatter: function (cellvalue) {
                                return cellvalue ? (cellvalue == 1 ? '男' : '女') : '未知';
                            }
                        },
                        {label: '手机号', name: 'mobile', index: 'u.mobile', width: 170},
                        {label: '单位名称', name: 'deptname', index: 'd.deptname', width: 270, sortable: true},
                        {label: '最后登录日期', name: 'lastlogin', index: 'u.lastlogin', width: 150, sortable: true},

                    ],
                    sortname: 'u.id',  //默认排序列
                    sortorder: 'desc', //默认排序方向
                    viewrecords: true, //显示总记录数
                    rowNum: rowNum, //默认每页记录数
                    rowList: [10, 20, 30, 50, 100],
                    pager: pagerSelector, //翻页容器
                    altRows: true, //隔行换色
                    autoWidth: true, //表格自动宽度
                    multiselect: true, //是否可多选
                    multiboxonly: true, // 只能勾选checkbox多选
                    loadComplete: function () { //每次载入数据后回调
                        //美化checkbox
                        $(this).JQchkCss();
                        
                        //点击查看链接，选中当前行
                        $(this).on("click", "a.read", function () {
                            $(this).parent().trigger("click");
                        });
                        //更新分页图标
                        setTimeout(function () {
                            updatePagerIcons(pagerSelector);
                        }, 0);
                    }
                });
        //触发window.resize，重调jqGrid大小避免初始化表格预留滚动条位置
        setTimeout(function () {
            $(window).triggerHandler('resize.jqGrid')
        }, 100);
		 
		//搜索
		$("#btnSearch")
			.click(function() {
				 //jqgrid的方法 setGridParam方法会累加postdata的项,所以赋值前， 要先清空原有的项
                    var postData = $(gridSelector).jqGrid("getGridParam", "postData");  
                       $.each(postData, function (k, v) {  
                           delete postData[k];  
                       }); 

				$(gridSelector)
					.jqGrid('setGridParam', {
						postData: $('.searchArea').formSerialize(), //收集搜索条件
						page: 1 //搜索时，重定位到第一页
					})
					.trigger("reloadGrid"); //重新载入

			});
		//新增
		$("#btnAdd")
			.click(function() {
				$.modalOpen({
					title: '新增用户',
					width: "960px",
					height: "850px",
					url: '{:url("create")}', //弹出窗口打开的URL
					callBack: function(idx) { //确定按钮提交 修改窗口中的保存
						var win = $.modalWindow(idx); //取得弹出窗口
						win.submitForm(reloadGrid); //提交弹出窗口的保存按钮,并通过回调 reloadGrid 刷新本页面JQgrid
					}
				});
			});
		//修改
		$("#btnEdit")
			.click(function() {
				var ar_ids = $(gridSelector).JQselectIds(); //取得所有被勾选的行的ID，数组形式
				var id = ar_ids[0];
				if(ar_ids.length === 1 && !!id) {
					$.modalOpen({
						title: '修改用户',
						width: "960px",
						height: "850px",
						url: '{:url("edit")}?id=' + id,
						callBack: function(idx) {
							var win = $.modalWindow(idx);
							win.submitForm();
						}

					});
				} else {
					$.modalAlert("请选择一条记录");
					return false;
				}
			});
		//删除
		$("#btnDelete")
			.click(function() {
				var ar_ids = $(gridSelector).JQselectIds(); //取得所有被勾选的行的ID，数组形式
				if(ar_ids.length === 0) {
					$.modalAlert("请勾选要删除的记录");
					return false;
				}
				var paramData = {
					Ids: ar_ids.join(',')
				}; //将数组以逗号拼接
				$.ajaxConfirm({
					url: '{:url("delete")}',
					param: paramData,
					success: function() {
						//刷新list
						$(gridSelector).trigger("reloadGrid");
					}
				});
			});
		//查看
		$("#btnRead")
			.click(function() {
				var ar_ids = $(gridSelector).JQselectIds(); //取得所有被勾选的行的ID，数组形式
				var id = ar_ids[0];
				if(ar_ids.length === 1 && !!id) {
					$.modalOpen({
						title: '查看用户',
						btn: ['关闭'],
						width: "960px",
						height: "850px",
						url: '{:url("read")}?id=' + id,
						callBack: function(idx) {
							$.modalClose(idx);
						}
					});
				} else {
					$.modalAlert("请选择一条记录");
					return false;
				}
			});
		//刷新
		$("#btnReload")
			.click(function() {
				$(gridSelector).trigger("reloadGrid");
			});
	});

	//提供给弹窗的回调方法，用于刷新当前条件下的JQgrid中的数据。
	function reloadGrid() {
		$(gridSelector).trigger("reloadGrid");
	}
	
	
			$("#codeid2_show").bs_typeahead({
			source: function(query, process) {
				return $.ajax({
					type: "get",
					url: "/admin/demo/getTypeahead",
					data: {name: query},
					datatype: "json",
					success: function(result) {
						 var resultList = result.map(function (item) {
                        var aItem = {id: item.id, codename: item.codename};
                        return JSON.stringify(aItem);
                    });
                    return process(resultList);
					}
				});

			},
			highlighter: function (obj) {
            var item = JSON.parse(obj);
            var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&');
            return item.codename.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                return '<strong>' + match + '</strong>'
            });
            
       },
         updater: function (obj) {
            var item = JSON.parse(obj);
            $("#codeid2").val(item.id)
            return item.codename;
        }

		})
</script>

{/block}