{extend name="application/common/view/form.html" /}
{block name="title"}actionadd{/block}
{block name="header"}
 

{/block}
{block name="main_content"}
  
			 

		<table cellspacing="1" width="100%" border="0" align="center" class="form-table">
			<tr>
				<td  class="title" width="15%" nowrap="nowrap"><span class="red">*</span>权限代码
				</td>
				<td  class="field" width="35%">
					<div class="input-group pull-left">
						<input class="required  " id="actcode" name="actcode" type="text" />
			        </div>
			        <span class="helping"></span>
				</td>
				<td  class="title" width="15%" nowrap="nowrap"><span class="red">*</span>权限名称
				</td>
				<td  class="field" width="35%">
					<div class="input-group pull-left">
						<input class=" required   " id="actname" name="actname" type="text"/>
					</div>
					<span class="helping"></span>
				</td>
			</tr>

			<tr>
				<td  class="title"   nowrap="nowrap" >上级菜单
				</td>
				<td  class="field"  colspan="3">
						<div class="input-group pull-left" >
							<input type="hidden" name="pid" id="pid" />
							<input type="text" name="deptid_show" id="deptid_show" class="form-control search-query admin_sea" placeholder="请选择上级" readonly="readonly" ally="#pid" />

							<span class="input-group-addon addon-btn no-left-border" id="actionid_selectBtn" onclick="dataDlgTree('selectaction', 'actionid_selectBtn', public_DlgCallBack);" data-dlgreturn="deptid_show.val()=actname;pid.val()=id" data-dlgcallback="">
			                    <i class="ace-icon fa fa-check"></i>
			                </span>
							<span class="input-group-addon addon-btn" onclick="clearValue('#pid,#deptid_show');">
			                    <i class="ace-icon fa fa-close"></i>
			                </span>
						</div>
						<span class="helping"></span>
				</td>
			</tr>
			<tr>
				<td  class="title"   nowrap="nowrap">是否目录
				</td>
				<td  class="field">
							<label>
					            <input name="isdir" type="radio" class="ace"   value="1">
					            <span class="lbl">是</span>
					        </label>
					        <label>
					            <input name="isdir" type="radio" class="ace" checked="checked"  value="0">
					            <span class="lbl">否</span>
					        </label>
				</td>
				<td  class="title"   nowrap="nowrap">是否菜单
				</td>
				<td  class="field">
							<label>
					            <input name="ismenu" type="radio" class="ace" checked="checked"   value="1">
					            <span class="lbl">是</span>
					        </label>
					        <label>
					            <input name="ismenu" type="radio" class="ace"  checked="checked"   value="0">
					            <span class="lbl">否</span>
					        </label>
				</td>
			</tr>

			<tr>
				<td  class="title"   nowrap="nowrap"><span class="red">*</span>页面名称
				</td>
				<td  class="field">
					<div class="input-group pull-left">
						<input class=" required  " id="menutext" name="menutext" type="text" />
					</div>
					<span class="helping"></span>
				</td>
				<td  class="title"   nowrap="nowrap"><span class="red">*</span>链接地址
				</td>
				<td  class="field">
					<div class="input-group pull-left">
						<input class=" required   " id="menuurl" name="menuurl" type="text"/>
					</div>
					<span class="helping"></span>
				</td>
			</tr>

			<tr>
				<td  class="title"   nowrap="nowrap">打开链接目标
				</td>
				<td  class="field">
					<div class="input-group pull-left">
						<input class=" " id="menutarget" name="menutarget" type="text"/>
					</div>
					<span class="helping"> </span>
					
				</td>
				<td  class="title"   nowrap="nowrap">菜单样式
				</td>
				<td  class="field">
					<div class="input-group pull-left">
						<input class="  " id="menuclass" name="menuclass" type="text"/>
					</div>
					<span class="helping"> </span>
				</td>
			</tr>

			<tr>
				<td  class="title"   nowrap="nowrap">图标样式
				</td>
				<td  class="field">
					<div class="input-group pull-left">
						<input class=" " id="iconclass" name="iconclass" type="text"/>
					</div>
					<span class="helping"> </span>
				</td>
				<td  class="title"   nowrap="nowrap">排序号
				</td>
				<td  class="field">
					<div class="input-group pull-left">
						<input class=" " id="sortno" name="sortno" type="text"/>
					</div>
					<span class="helping"> </span>
				</td>

			</tr>
			<tr>
				<td  class="title"   nowrap="nowrap" >备注
				</td>
				<td  class="field" colspan="3">
					<div class="input-group pull-left">
						<input class=" " id="remark" name="remark" type="text"/>
					</div>
					<span class="helping"> </span>
				</td>
			</tr>


		</table>
 
  
{/block}
{block name="footer"}


<script type="text/javascript">

	 
	function submitForm(cb) {
		if (!$('#form1').valid()) {
			try {
				$(".error").eq(0).focus(); //自动定位到第一验证不通过的域  原 focusInvalid: true 在弹窗下不生效（非弹窗测试正常）
			} catch (e) {
			}
			return false;
		}
		var postData = $("#form1").formSerialize();
		$.ajaxSubmitForm({
			url: "{:url('save')}",
			param: postData,
			success: function(data) {
				if (cb) {
					cb(data);
				}
			}
		});
	};
</script>
{/block}
