
{extend name="application/common/view/form.html" /}
{block name="title"}useradd{/block}
{block name="header"}
 

{/block}
{block name="main_content"}
  

			<table cellspacing="1" width="100%" border="0" align="center" class="form-table">
				<tr>
					<td  class="title"   nowrap="nowrap">上级代码
					</td>
					<td  class="field">
						<div class="input-group pull-left">
							<input type="hidden" name="pid" id="pid" value="{$data.pid}" />
							<input type="text" name="codeid2_show" id="codeid2_show" class="form-control search-query admin_sea" value="{$pname}" placeholder="顶级"  ally="#pid"/>
							<span class="input-group-addon addon-btn no-left-border" id="code_selectBtn" onclick="dlgSelectCodeTree('{$typekey}',false, true,'code_selectBtn', public_DlgCallBack);" data-dlgreturn="codeid2_show.val()=codename;pid.val()=id" data-dlgcallback="">
	                        <i class="ace-icon fa fa-check"></i>
		                    </span>
							<span class="input-group-addon addon-btn" onclick="clearValue('#pid,#codeid2_show');">
		                        <i class="ace-icon fa fa-close"></i>
		                    </span>
						</div>
						<span class="helping"> </span>
					</td>
					<td  class="title"   nowrap="nowrap">代码类型
					</td>
					<td  class="field" {if condition="tree !==$listtype"}colspan='3'{/if}>
						{$typename}
					</td>
					
				</tr>
				<tr>
					<td  class="title" width="15%" nowrap="nowrap"><span class="red">*</span>代码
					</td>
					<td  class="field" width="35%">
						<div class="input-group pull-left">
							<input class="required" id="code" name="code" type="text" value="{$data.code}"/>
						</div>
 						<span class="helping"></span>
					</td>
					<td  class="title" width="15%" nowrap="nowrap"><span class="red">*</span>代码名称
					</td>
					<td  class="field" width="35%">
						<div class="input-group pull-left">
							<input class=" required   " id="codename" name="codename" type="text" value="{$data.codename}"/>
						</div>
						<span class="helping"></span>
					</td>
				</tr>
				<tr>
					<td  class="title"   nowrap="nowrap">代码名称简称
					</td>
					<td  class="field">
						<div class="input-group pull-left">
							<input class="  " id="shortname" name="shortname" type="text" value="{$data.shortname}"/>
						</div>
						<span class="helping"></span>
					</td>
					<td  class="title"   nowrap="nowrap">助记码
					</td>
					<td  class="field" {if condition="null ==input('pid')"}colspan="3"{/if}>
						<div class="input-group pull-left">
						 	<input class="" id="mnemonic" name="mnemonic" type="text"  value="{$data.mnemonic}"/>
						</div>
						<span class="helping"></span>
					</td>
				</tr>



				<tr>
					<td  class="title"   nowrap="nowrap"><span class="red">*</span>排序码
					</td>
					<td  class="field">
						<div class="input-group pull-left">
							<input class="required" id="sortno" name="sortno" type="number"  value="{$data.sortno}"/>
						</div>
 						<span class="helping"></span>
					</td>
					<td  class="title"   nowrap="nowrap">是否为系统代码
					</td>
					<td  class="field">
							<label>
					            <input name="issystem" type="radio" class="ace" {eq name="$data.issystem" value="1" } checked="checked" {/eq}  value="1">
					            <span class="lbl">是</span>
					        </label>
					        <label>
					            <input name="issystem" type="radio" class="ace" {eq name="$data.issystem" value="0" } checked="checked" {/eq}  value="0">
					            <span class="lbl">否</span>
					        </label>
					</td>
				</tr>

				<tr>
					<td  class="title"   nowrap="nowrap">级别
					</td>
					<td  class="field">
						<div class="input-group pull-left">
							<input class=" " id="levelno" name="levelno" type="text" value="{$data.levelno}"/>
						</div>
						<span class="helping"> </span>
					</td>
					<td  class="title"   nowrap="nowrap">别名1
					</td>
					<td  class="field">
						<div class="input-group pull-left">
							<input class="  " id="alias1" name="alias1" type="text" value="{$data.alias1}"/>
						</div>
						<span class="helping"> </span>
					</td>
				</tr>

				<tr>
					<td  class="title"   nowrap="nowrap">别名2
					</td>
					<td  class="field" colspan="3">
						<div class="input-group pull-left">
							<input class="  " id="alias2" name="alias2" type="text" value="{$data.alias2}"/>
						</div>
						<span class="helping"> </span>
					</td>

				</tr>
			</table>	
			<input type="hidden" class="  " id="type_id" name="type_id" value="{:input('typeid')}"/>
  

{/block}
{block name="footer"}


<script type="text/javascript">
    //异步加载
    $("#codeid2_show").bs_typeahead({
            source: function(query, process) {
                return $.ajax({
                    type: "get",
                    url: "/admin/code/getCodeHead?typeid={:input('typeid')}",
                    data: {name: query},
                    datatype: "json",
                    success: function(result) {
                        var resultList = result.map(function (item) {
                        var aItem = {id: item.id, codename: item.codename};
                        return JSON.stringify(aItem);
                    });
                    return process(resultList);
                    }
                });

            },
            highlighter: function (obj) {
            var item = JSON.parse(obj);
            var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&');
            return item.codename.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                return '<strong>' + match + '</strong>'
            });
            
       },
         updater: function (obj) {
            var item = JSON.parse(obj);
            $("#pid").val(item.id)
            return item.codename;
        }

    })
	function submitForm(cb) {
		if (!$('#form1').valid()) {
			try {
				$(".error").eq(0).focus(); //自动定位到第一验证不通过的域  原 focusInvalid: true 在弹窗下不生效（非弹窗测试正常）

			} catch (e) {
			}
			return false;
		}
		var postData = $("#form1").formSerialize();
		$.ajaxSubmitForm({
			url: '{:url("update")}?id='+{:input('id')},
			param: postData,
			success: function(data) {
				if (cb) {
					cb(data);
				}

			}
		});
	};
</script>
{/block}